
<section class="columns is-fullheight">
<div class="column is-2 is-narrow-mobile is-fullheight">
  <%=  search_form_for @q , url: client_projects_path, method: :get do |f|%>
    <aside class="menu">
      <p class="menu-label">
        Filtros
      </p>
      <ul class="menu-list is-3">
        <%= sort_link(@q, :title, default_order: :asc) %>
        <%= sort_link(@q, :end_time, default_order: :asc) %>
        <%= sort_link(@q, :price, default_order: :asc) %>
      </ul>
    </aside>
</div>
<div class="column is-10 is-offset-1">
  <div class="columns">
    <div class="column is-7">
      <div class="columns is-mobile">
        <div class="column">
          <div class="control">
            <%= f.search_field :title_cont, class: 'input is-rounded', placeholder: 'Pesquisar por título' %>
          </div>
        </div> 
        <div class="column is-3">
          <%= button_tag class: "button is-rounded" do %>
            <i class="fa fa-search"></i>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="column">
      <%= link_to "Criar Projeto", new_client_project_path, class: 'button is-info is-outlined is-uppercase' %>
    </div>
  </div>
  <div class="columns is-multiline is-centered">
    <div class="column is-10"><br>
      <% if @projects.blank? %>
        <p>Cadastre um Projeto :)</p>
      <% else %>
        <% @projects.each do |project| %>
          <div class="columns" style="padding: 0px;margin-bottom: 0px;">   
            <div class="column box is-5">
              <p class="f4"><%=  project.title %></p>
              <p>Data de Encerramento: <%= project.end_time.strftime("%d/%m/%Y") %></p>
              <p>Meta: <%= number_to_currency(project.price) %></p>
              <p>Arrecadado: <%= number_to_currency(project.donation_total_value) %></p>
              <%= link_to "Editar", edit_client_project_path(project), class: 'button is-info is-outlined is-small is-uppercase' %>
              <%= link_to "Excluir", client_project_path(project), method: :delete, data: {confirm:"Você tem certeza que deseja excluir?"}, class: 'button is-danger is-outlined is-small is-uppercase' %>
            </div>
            <hr class="hr-color" style="padding: 0px; margin-top: 0px;" />
          </div>
        <% end %>
        <div class="column is-5">
          <%= pagy_bulma_nav(@pagy).html_safe %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</section>
