<section class="container">
  <div class="columns is-multiline">
    <div class="column is-10 is-offset-1 register box">
      <div class="columns">
        <div class="column right has-text-centered">
          <h1 class="subtitle is-4">Acessar</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <div class="control">
                <%= f.label :email %>
                <%= f.email_field :email, :required => true, autofocus: true, autocomplete: "email", class: "input" %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.label :password, "Senha" %>
                <%= f.password_field :password, :required => true, autocomplete: "current-password", class: "input" %>
              </div>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, 'relembrar senha' %>
              </div>
            <% end %>
            <div class="actions">
              <%= f.submit "Entrar", class: "button is-danger is-outlined is-fullwidth is-uppercase" %>
            </div>
          <% end %>
          <br>
          <div class="has-text-centered">
            <%= render 'clients/shared/links' %>
          </div>
        </div>
        <div class="column left">
          <h1 class="title is-2">Apoie um projeto e melhore o mundo.</h1>
          <p></p><br>
          <p>Escolha o projeto que você deseja.</p><br>
          <p>Realize o pagamento pelo cartão de crédito.</p><br>
          <p>Pronto, eles receberam seu dinheiro.</p><br>
          <h2 class="subtitle colored is-4">Posso criar um projeto?</h2>
          <p class="subtitle is-6">Sim, você pode. Realize seu cadastro e crie um projeto para ser apoiado.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  :root {
    --brandColor: hsl(166, 67%, 51%);
    --background: rgb(247, 247, 247);
    --textDark: hsla(0, 0%, 0%, 0.66);
    --textLight: hsla(0, 0%, 0%, 0.33);
  }

  .field:not(:last-child) {
    margin-bottom: 1rem;
  }

  .register {
    margin-top: 2rem;
    background: white;
    border-radius: 10px;
  }

  .left,
  .right {
    padding: 3.5rem;
  }

  .left {
    border-right: 5px solid var(--background);
  }

  .left .title {
    font-weight: 700;
    letter-spacing: -2px;
  }

  .left .colored {
    color: var(--brandColor);
    font-weight: 500;
    margin-top: 1rem !important;
    letter-spacing: -1px;
  }

  .left p {
    font-size: 1.15rem;
  }

  .right .title {
    font-weight: 800;
    letter-spacing: -1px;
  }

  .right .description {
    margin-top: 1rem;
    margin-bottom: 1rem !important;
    color: var(--textLight);
    font-size: 1.15rem;
  }

  .right small {
    color: var(--textLight);
  }

  input {
    font-size: 1rem;
  }

  input:focus {
    border-color: var(--brandColor) !important;
    box-shadow: 0 0 0 1px var(--brandColor) !important;
  }

  .fab,
  .fas {
    color: var(--textLight);
    margin-right: 1rem;
  }

</style>