<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to root_path, class:"navbar-item is-hidden-mobile is-hidden-tablet-only" do %>
        <%= image_tag 'logo.png'%>
      <% end  %>

      <%= link_to root_path, class:"navbar-item nav-center is-hidden-desktop is-hidden-widescreen", style: "flex: 1; justify-content: center;" do %>
        <%= image_tag 'logo.png', style: 'width: 80px;' %>
      <% end  %>
      
      <span class="navbar-burger burger">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </div>
    <div id="navbar" class="navbar-menu">
      <div class="navbar-end">
        <%= link_to 'HOME', root_path, class: 'navbar-item is-size-6' %> 
      </div>
    </div>
  </div>
</nav>
<style>
  nav.navbar {
    height: 6rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06) !important;
  }
</style>